@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(17, 32, 45);
}

.banner {
  display: grid;
  place-content: center;
  background-image: url(./images/banner.png);
  background-position: center;
  height: 500px;
  width: 100%;
}

.bag-icon-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3px;
}

.book-counter {
  user-select: none;
  color: hsl(207, 43%, 8%);
}

.bag-container {
  padding: 1rem 0 0 1rem;
  display: none;
  background-color: hsl(0, 0%, 100%);
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 10;
  top: 67px;
  right: 65px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.bag {
  overflow-y: auto;
  height: 420px;
}

.bag-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 1rem;
}

.total-price-container {
  display: flex;
  align-items: flex-end;
}

.confirm-order-btn {
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid hsl(207, 43%, 8%);
  color: hsl(207, 43%, 8%);
  transition: all 0.3s ease-in-out;
  padding-inline: 1rem;
  padding-block: 0.4rem;
}

.confirm-order-btn:hover {
  color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 100%);
  background-color: hsl(207, 43%, 8%);
}

.book-in-bag-container {
  background-color: hsl(207, 43%, 8%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.remove-book {
  margin-left: 97%;
  display: inline-block;
  cursor: pointer;
}

.remove-book:hover {
  color: hsl(46, 100%, 58%);
}

.bag-author {
  padding-block: 1rem;
}

.banner-heading {
  font-weight: 300;
  font-size: 4.5rem;
  color: hsl(0, 0%, 96%);
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  background-color: hsla(0, 2%, 21%, 0.39);
  border-radius: 0.5rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.catalog-heading {
  margin-block: 3rem;
  font-size: 3rem;
  text-align: center;
}

.catalog {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 3rem;
}

.book-container {
  width: 374px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: hsl(207, 43%, 8%);
  position: relative;
}

.book-container:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.book-img {
  width: 100%;
  height: 494px;
  object-fit: cover;
}

.book-details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 165px;
  color: hsl(0, 0%, 100%);
}

.book-overview {
  display: grid;
  row-gap: 1rem;
}

.title {
  font-size: 1.2rem;
}

.bag-btn {
  padding-inline: 1.2rem;
  padding-block: 0.6rem;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  transition: all 0.3s ease-in-out;
}

.bag-btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(207, 43%, 8%);

  cursor: pointer;
}

.show-more {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.more {
  font-size: 0.9rem;
  cursor: pointer;
}

.more:hover {
  cursor: pointer;
  color: hsl(46, 100%, 58%);
}

/* description container */
.description-container {
  display: none;
  position: absolute;
  z-index: 9;
  width: 374px;
  background-color: hsl(207, 43%, 8%);
  color: hsl(0, 0%, 100%);
  padding: 1rem;
}

.description {
  line-height: 1.5;
}

.close-btn {
  margin-top: 1rem;
  text-transform: uppercase;
  border: 1px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  transition: all 0.3s ease-in-out;
  padding-inline: 1rem;
  padding-block: 0.4rem;
  background-color: transparent;
}

.close-btn:hover {
  color: hsl(46, 100%, 58%);
  border-color: hsl(46, 100%, 58%);
  cursor: pointer;
}
